{% load custom_tags %}
{% load i18n %}
{% load rest_framework %}

<nav class="navbar navbar-expand-lg navbar-fixed-top bg-info">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">{% website_name %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'index' %}"> Home </a></li>
                <li><a href="{% url 'device_list' %}"> Devices </a></li>
                <li><a href="{% url 'datas' %}"> Data </a></li>
            </ul>
        </div>
    </div>
</nav>